{% extends 'base.html' %} 

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "profile" "user.views.profile" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col-lg-8 offset-lg-2">
      <h3>Profile</h3>
      <p>{{ user.email }}</p>

      {% load crispy_forms_tags %}

      {% crispy user_form %}
    </div>
  </div>

  <button id="myButton">Import rides</button>
</div>

<script>
  document.getElementById('myButton').addEventListener('click', function() {
      fetch('{% url 'importRides' %}', {
          method: 'POST', // or 'GET'
          headers: {
              'X-CSRFToken': '{{ csrf_token }}',
              'Content-Type': 'application/json',
          },
      });
  });
</script>
{% endblock %}
