{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load static%}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "about" "/about" %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col-lg-8 offset-lg-2">
      <h3>About Anders</h3>
      <h5>Software Engineering Team Lead at Unchained</h5>
      <p>
        I graduated from the University of North Carolina at Chapel Hill in May
        of 2020 with a BS in Computer Science. As a problem solver since birth,
        I love using my programming and engineering skills to solve
        real world problems.
      </p>
      <p>
        At <a href="https://unchained.com/" target="_blank">Unchained</a>, we're building world class Bitcoin collaborative custody and financial services.
        I'm a team leader and full stack engineer, focusing on account managment and payments.
        </p>
        <p>
          Prior to joining Unchained, I worked at
          <a href="https://www.teradata.com/" target="_blank">Teradata</a>.
          I began as a Software Engineering Intern and advanced to the role of Senior
          Cloud Engineer within the Cloud User Experience team.
          There, my team developed the Vantage Console, an analytics and operations platform
          designed for Teradata's cloud systems. In addition,
          I contributed to the creation of our open-source UI platform,
          <a href="https://teradata.github.io/covalent/v3/#/" target="_blank">Covalent</a>.
      </p>
      <p>
        I played professional ultimate frisbee for the
        <a href="https://theaudl.com/Flyers/" target="blank">Carolina Flyers</a>. In 2021, we won the UFA Championship by
        defeating the New York Empire in the finals. That season, I finished as the league's 2nd highest goal
        scorer and was named
        <a href="https://theaudl.com/league/news/2021-audl-rookie-year-anders-juengst-raleigh-flyers" target="blank">2021 UFA Rookie
          of the Year</a>. In 2024, we made it back to the championship game but fell short by one goal. I was selected to the
          <a href="https://watchufa.com/league/news/2024-ufa-season-awards-all-audl-mvp-defensive-player-year-rookies" target="blank">
            2024 All-UFA First Team </a>.
      </p>
      <p>In addition to my success at the professional level, I won a national championship in 2021 with my club team, Raleigh Ring of Fire, and college championships with 
        UNC Darkside in 2018 and 2021. In 2024 I was named to the USA Ultimate National Team and won a gold medal at the World Ultimate Championships.
      </p>

      <p>This year, I'm taking a break from pro ultimate to focus on making music. I'm a producer, guitarist and DJ. Check
        out my <a href="https://www.youtube.com/@andersjuengst" target="_blank">YouTube channel</a> for some of my work.
      </p>

      <h3>Resume</h3>
      <p>View my resume <a href="/resume">here</a>.</p>

      <h3>Contact</h3>
      <p>
        Reach out on
        <a href="https://www.linkedin.com/in/anders-juengst-26317b128/" target="_blank">LinkedIn</a>
        or
        <a href="https://www.facebook.com/anders.juengst" target="_blank">Facebook</a>

      <h3>About this site</h3>
      <p>Built with Django, Sass, and Markdown. Check out <a href="/blog/40">this blog post</a> for more information.
      </p>
    </div>
  </div>
</div>
{% endblock content %}