{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load static%}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "about" "/about" %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col-lg-8 offset-lg-2">
      <h3>About Anders</h3>
      <h5>Senior Full Stack Engineer at Unchained</h5>
      <p>
        I graduated from the University of North Carolina at Chapel Hill in May
        of 2020 with a BS in Computer Science. As a problem solver since birth,
        I love using my programming and engineering skills to engineer solutions
        to real world problems.
      </p>
      <p>
        I view Bitcoin as the most significant invention in my lifetime. It offers an alternative to the
        manipulated and corrupt fiat financial system. To unlock Bitcoin's full potential, a parallel infrastructure of
        financial services is essential. At Unchained, we are at the forefront of creating these tools. Our
        products include Bitcoin collaborative custody, loan offerings, and retirement accounts.
        </p>
        <p>
          Prior to joining Unchained, I worked at
          <a href="https://www.teradata.com/" target="_blank">Teradata</a>.
          I began as a Software Engineering Intern and advanced to the role of Senior
          Cloud Engineer within the Cloud User Experience team.
          There, my team developed the Vantage Console, an analytics and operations platform
          designed for Teradata's cloud systems. The Vantage Console is compatible with the three major cloud
          providers, offering administrators a unified interface to manage their deployments. In addition,
          I contributed to the creation of our open-source UI platform,
          <a href="https://teradata.github.io/covalent/v3/#/" target="_blank">Covalent</a>.
      </p>
      <p>
        I'm also a professional ultimate player for the
        <a href="https://theaudl.com/Flyers/" target="blank">Carolina Flyers</a>. We won the 2021 AUDL Championship,
        taking down the New York Empire in
        the final. I finished the 2021 season as the leauge's 2nd highest goal
        scorer and was named
        <a href="https://theaudl.com/league/news/2021-audl-rookie-year-anders-juengst-raleigh-flyers" target="blank">AUDL Rookie
          of the Year</a>.
      </p>

      <h3>Resume</h3>
      <p>View my resume <a href="/resume">here</a>.</p>

      <h3>Contact</h3>
      <p>
        Reach out on
        <a href="https://www.linkedin.com/in/anders-juengst-26317b128/" target="_blank">LinkedIn</a>
        or
        <a href="https://www.facebook.com/anders.juengst" target="_blank">Facebook</a>

      <h3>About this site</h3>
      <p>Built with Django, Sass, and Markdown. Check out <a href="/blog/40">this blog post</a> for more information.
      </p>
    </div>
  </div>
</div>
{% endblock content %}