{% extends "base.html" %}
{%load static%}
{%block content %}


<div class="container my-container">

<div class="my-3 mx-auto text-center p-2" style="max-width: 900px;">
    <h1 class="logo mb-4">Anders Juengst</h1>
    <p class="fs-4">Hi! I’m Anders, a senior full-stack engineer at <a href="https://unchained.com/"
            target="blank">Unchained.</a> I write about software development. Read more about me <a href="/about">here.</a>
    </p>
</div>

<div class="my-3 mx-auto" style="max-width: 950px;">
    <h3>Recent Posts</h3>

    {% for obj in post_list %}
        <div class="card my-4 shadow-sm" >
            {% if obj.image %}
                <img class="card-img-top" src="{{obj.image.url}}" alt="Card image cap"/>
            {% endif %}
            <div class="card-body">
                <h3 class="card-title post-title"><a href="{{obj.get_absolute_url}}">{{obj.title}}</a></h3>
                {% if obj.subtitle %}
                    {% if obj.isMarkdownContent %}
                        {% load markdownify %}
                        {{obj.subtitle|markdownify}}
                    {% else %}
                        <p>{{obj.subtitle|linebreaks}}</p>
                    {% endif %}
                {% else %}
                <p class="card-text">{% autoescape off %} {{obj.content|linebreaks|truncatechars:300}} {% endautoescape %}</p>
                {% endif %}
                <a href="{{obj.get_absolute_url}}" class="float-end btn bg-primary">View</a>
            </div>
        </div>
    {% endfor %}
    <small><a href="/blog/">see more</a></small>
</div>

<div class='row'>
<div class='col'>

</div>
</div>
</br>
</div>

    


{%endblock content%}