{% load django_bootstrap_breadcrumbs %}

<nav class="navbar navbar-expand p-4 sticky-top shadow justify-content-between">
  <div class="container-fluid">
    <div class="navbar-brand d-none d-lg-flex align-items-baseline">
      <a class="" href="/">andersjuengst.com: </a> {% block content %}{% render_breadcrumbs "breadcrumbs.html" %}{% endblock %}
      <!-- <span class="separator">$</span>
      <input type="text" placeholder="Type something..." autofocus id="navbar-input"> -->
    </div>
    
    <ul class="navbar-nav mx-auto mx-lg-0 fs-4 mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog/">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/extras">Extras</a>
      </li> 
      {% endif %}
    </ul>
  </div>
</nav>
