{% load django_bootstrap_breadcrumbs %}

<nav class="navbar navbar-expand p-2 shadow-sm justify-content-between">
  <div class="container-fluid">
    <div class="navbar-brand d-none d-lg-flex align-items-baseline ms-md-5">
      <a class="" href="/">andersjuengst.com: </a> {% render_breadcrumbs %}
    </div>
    
    <ul class="navbar-nav mx-auto mx-lg-0 fs-5 mr-auto">
      <li class="nav-item d-block d-lg-none">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/music/">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog/">Blog</a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/accounts/profile">Account</a>
        </li> 
      {% endif %}
      <li class="nav-item dropdown me-md-5">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/about">About</a>
          <a class="dropdown-item" href="https://www.linkedin.com/in/anders-juengst-26317b128/" target="_blank">Resume <span class="px-2" style="background-color: #242424; border-radius: 4px; padding: 4px;"><span class="fa fa-linkedin"></span></span></a>
          <a class="dropdown-item" href="/extras">Extras</a>
          <button class="dropdown-item" onclick="toggleDarkmode()">Theme toggle</button>
          {% if user.is_authenticated %}
            <a class="dropdown-item" href="/accounts/logout">Logout</a>
          {% else %}
            <a class="dropdown-item" href="/accounts/login">Login</a>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
</nav>

{% load static %}
<script src="{% static 'js/themeToggle.js' %}"></script>
