{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "blog" "/blog" %}
    {% breadcrumb instance.displayPath "blog.views.post_detail" instance.id %}
{% endblock %}

{% block head_title %} {{instance.title}} | {{block.super}} {%endblock head_title%}

{%block content %}
<div class="container">
<div class="row">
<div class='col-lg-10 offset-lg-1 col-sm post'>
</br>
{% if instance.image %}
<img src='{{instance.image.url}}' class='img-fluid mb-4 rounded' />
{% endif %}

<header class="d-lg-flex d-block justify-content-between mb-3">
    <div>
        <h1>{{ title }}</h1>
        <small> Posted on {{instance.updated}}</small> 
    </div>
    <div class="ms-lg-4 flex-shrink-0">
        {% if user.is_authenticated %}
            <a href="{{ changeUrl }}" class="btn btn-outline-secondary">Edit post</a>
        {% endif %}
        <a href="/blog/" class="mx-2 btn btn-outline-secondary">Return to List</a>
        <button class="copy-link-button btn btn-outline-secondary" data-bs-toggle="tooltip" 
        data-bs-placement="bottom" title="Click to copy link">Copy Link</button>
    </div>
</header>


{% autoescape off %}

{% if instance.isMarkdownContent %}
    {% load markdownify %}
    {{instance.content|markdownify}}
{% else %}
    <p>{{instance.content|linebreaks}}</p>
{% endif %}

{% endautoescape %}
</div>
</div>
</div>

<script>


</script>


{% endblock content %}