{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "blog" "/blog" %}
    {% breadcrumb instance.title "blog.views.post_detail" instance.id %}
{% endblock %}

{% block head_title %} {{instance.title}} | {{block.super}} {%endblock head_title%}

{%block content %}
<div class="container">
<div class="row">
<div class='col-lg-10 offset-lg-1 col-sm'>
</br>
{% if instance.image %}
<img src='{{instance.image.url}}' class='img-fluid' />
{% endif %}

<h1>{{ title }}</h1>
<p> Posted on {{instance.updated}}</p> 

{% autoescape off %}

{% if instance.isMarkdownContent %}
    {% load markdownify %}
    {{instance.content|markdownify}}
{% else %}
    <p>{{instance.content|linebreaks}}</p>
{% endif %}

{% endautoescape %}
</div>
</div>
</div>


{% endblock content %}