{% extends "base.html" %}
{%load static%}
{%block content %}
<div class="container mt-4 px-lg-3">
  <h3>Projects</h3>
</br>
    <div class="card-deck">
      <div class="card mb-4">
        <img class="card-img-top" src="{% static 'projects/mobilemenu.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mobile Menu - HackNC 2019</h5>
          <p class="card-text">At HackNC 2019 my team built MobileMenu, a service which allows students to sign up to receive a daily text with UNC dining hall menus. Check out the source code on <a href="https://github.com/DersJ/MobileMenu" target="_blank">github</a>.</p>

        </div>
        <div class="card-footer text-muted">
         <a href="https://github.com/DersJ/MobileMenu" target="_blank" class="btn btn-primary">View</a>
       </div>
     </div>
     <div class="card mb-4">
      <img class="card-img-top" src="{% static 'projects/crowdhost.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">CrowdHost - HackNC 2018</h5>
        <p class="card-text">At HackNC 2018 my team created Crowdhost, a site to organize crowdsourced, event-based couchsurfing. Built with django and AWS. View the source on <a href="https://www.github.com/dersj/hacknc2018/" target="_blank">github</a>.</p>

      </div>
      <div class="card-footer text-muted">
        <a href="https://crowdhost.herokuapp.com/" class="btn btn-primary" target="_blank">View</a>
      </div>
    </div>
     <div class="card mb-4">
      <img class="card-img-top" src="{% static 'projects/rsite.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Resume website</h5>
        <p class="card-text">I built this site using Django and Bootstrap. The source code is on <a href="https://github.com/DersJ/" target="_blank">github</a>.</p>

      </div>
      <div class="card-footer text-muted">
        <a href="https://github.com/DersJ/" target="_blank" class="btn btn-primary">View</a>
      </div>
    </div>

    <div class="w-100 d-none d-sm-block d-lg-none"><!-- wrap every 2 on sm--></div>

    
    <div class="w-100 d-none d-lg-block"><!-- wrap every 3 on md--></div>
      <div class="card mb-4">
        <img class="card-img-top" src="{% static 'projects/jarvis.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Open Jarvis</h5>
          <p class="card-text">At the 2016 HackTJ hackathon, two partners and I created a open source home automation AI called Open Jarvis which won the Best Hardware Hack award. Check it out on <a href="https://github.com/Evanc123/openJarvis" target="_blank">github</a>.</p>

        </div>
        <div class="card-footer text-muted">
          <a href="https://github.com/Evanc123/openJarvis" target="_blank" class="btn btn-primary">View</a>
        </div>
      </div>

    <div class="w-100 d-none d-sm-block d-lg-none"><!-- wrap every 2 on sm--></div>

      <div class="card mb-4">
        <img class="card-img-top" src="{% static 'projects/essay.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">English Final Website</h5>
          <p class="card-text">For my English 105 class at UNC, I elected to present my portfolio from the semester on a hand-built website. Check it out <a href="/engl105/">here</a>.</p>

        </div>
        <div class="card-footer text-muted">
          <a href="/engl105/" target="_blank" class="btn btn-primary">View</a>
        </div>
      </div>
      <div class="card mb-4">
        <img class="card-img-top" src="{% static 'projects/flickr.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Photography</h5>
          <p class="card-text">Photography has been a hobby of mine for a few years now. Check out my <a href="https://www.flickr.com/photos/dersj/" target="_blank">flickr</a>.</p>

        </div>
        <div class="card-footer text-muted">
          <a href="https://www.flickr.com/photos/dersj/" target="_blank" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="w-100 d-none d-lg-block"><!-- wrap every 3 on md--></div>
      <div class="w-100 d-none d-sm-block d-lg-none"><!-- wrap every 2 on sm--></div>



</div>
</div>



{%endblock content%}