{% extends "base.html" %} 

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "resume" "/resume" %}
{% endblock %}

{%block content %}
<div class="container my-container mt-2">
  <div class="row ps-2">
    <div class="col-sm-6">
      <h3>Work</h3>

      <h4>Teradata Corporation</h4>
      <div class="ps-4">
        <p class="mb-1 fs-5">
          Senior Cloud Services Engineer • Dec 2021-present
        </p>
        <p class="fw-light">
          Building Vantage Console, an Angular application
          enabling Teradata  customers to manage cloud deployments on AWS, 
          Azure, and GCP. Contributor to Teradata Covalent 
          open source design system. Cross functional responsibilities include 
          code reviews, CI/CD, and testing.
        </p>

        <p class="mb-1 fs-5">Software Engineer • May 2020-Dec 2021</p>
        <p class="fw-light">
          Front end software development of advanced data analytics and real 
          time decisioning web applications with Angular. Maintained and 
          enhanced a suite of Angular microservices comprising the Vantage Customer 
          Experience and Vantage Analyst applications. Contributed to a shared 
          library of custom user interface components. Worked with engineering and 
          product management to architect and design features. Authored and presented 
          technical knowledge transfer documents to Customer Service and Sales 
          personnel.
        </p>

        <p class="mb-1 fs-5">Software Engineering Intern • May 2019-May 2020</p>
        <p class="fw-light">
          Designed and built two Angular applications to visualize and analyze
          data: Vantage Text, which performs sentiment and frequency text
          analysis, and Vantage Cluster, which conducts K-means and K-modes
          clustering. Although initially intended by product management to be
          only demos of analytic functionality, both apps exceeded expectations
          and were released to customers as part of the Vantage Analyst software
          suite. SQL development with Teradata Vantage.
        </p>
        <br />
      </div>

      <h4>Bach to Rock Music School</h4>
      <div class="ps-4">
        <p class="mb-1 fs-5">
          Music Instructor and Audio Engineer • Sept 2014-Aug 2017
        </p>
        <p class="fw-light">
          Hired as an assistant to give drum and keyboard group lessons. Other
          tasks included brand promotion at live events and data entry into the
          administrative system. I was promoted to Audio Engineer and received
          training to record, edit, and mix music.
        </p>
      </div>
    </div>
    <div class="col-sm-6">
      <h3>Skills</h3>
      <div class="ps-4">
        <h5>Technologies</h5>
        <p>Angular, React, Django, Jenkins, Git, Heroku, AWS</p>
        <h5>Languages</h5>
        <p>Typescript/Javascript, Python, Java, SQL, C/C++</p>
        <h5>Other</h5>
        <p>
          Windows/OSX/Linux administration, Unix Shell, Networking, Audio
          Engineering, Computer Hardware & Assembly, Web design, Photoshop
        </p>
      </div>

      <h3>Education</h3>
      <div class="ps-4">
        <h5>The University of North Carolina at Chapel Hill</h5>
        <p>Bachlors of Science in Computer Science • May 2020</p>
        <h5>Yorktown High School</h5>
        <p>Advanced Studies Diploma • June 2016</p>
        <br />
        <a 
          class="mt-1 btn btn-outline-secondary"
         href="/coursework">
          Click to view coursework
        </a>
      </div>
    </div>
  </div>
</div>

{%endblock content%}
