{% extends "base.html" %}

{%block content %}
<div class="container my-container">
<h3>Resume</h3>
<br>
<div class="row">
<div class="col-sm-6">

<h4>Education</h4>
<h5>The University of North Carolina at Chapel Hill</h5>
<p>Bachlors of Science in Computer Science • May 2020</p>

<h5>Yorktown High School</h5>
<p>Advanced Studies Diploma • June 2016</p>


<br>

<h4>Work</h4>
<h5>Teradata</h5>
<p>Software Engineering Intern • May 2019-Present</p>

<h5>Whole Foods Market</h5>
<p>Cashier • Oct 2017-April 2019</p>

<h5>Bach to Rock Music School</h5>
<p>Music Instructor and Audio Engineer • Sept 2014-Aug 2017</p>

<h5>Universe Point Cleats</h5>
<p>Social Media and Marketing Intern • Jul 2017-Aug 2017</p>

<br>



</div>
<div class="col-sm-6">
<h4>Skills</h4>
<h5>Technologies</h5>
<p>Angular, Django, Jenkins, Git, Heroku, AWS</p>
<h5>Languages</h5>
<p>Typescript, Python, Javascript, Java, SQL, C/C++</p>
<h5>Other</h5>
<p>Windows/OSX/Linux administration, Unix Shell, Networking, Audio Engineering, Computer Hardware & Assembly, Web design, Photoshop</p>
</div>

</div>

</div>



{%endblock content%}