{% extends "base.html" %} 

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "resume" "/resume" %}
{% endblock %}

{%block content %}
<div class="container my-container mt-2">
  <div class="row ps-2">
    <div class="col-sm-6">
      <h3>Work</h3>

      <h4>Teradata Corporation</h4>
      <div class="ps-4">
        <p class="mb-1 fs-5">
          Senior Cloud Services Engineer • Dec 2021-present
        </p>
        <p class="fw-light">Building the next generation of Vantage Console</p>

        <p class="mb-1 fs-5">Software Engineer • May 2020-Dec 2021</p>
        <p class="fw-light">
          Front end software development of advanced data analytics and real
          time decisioning web applications with Angular. Maintain and enhance a
          suite of Angular microservices comprising the Vantage Customer
          Experience and Vantage Analyst applications. Contribute to a shared
          library of custom user interface components. Work with engineering and
          product management to architect and design features. Participation on
          an agile team. Author and present technical knowledge transfer
          documents to Customer Service and Sales personnel.
        </p>

        <p class="mb-1 fs-5">Software Engineering Intern • May 2019-May 2020</p>
        <p class="fw-light">
          Designed and built two Angular applications to visualize and analyze
          data: Vantage Text, which performs sentiment and frequency text
          analysis, and Vantage Cluster, which conducts K-means and K-modes
          clustering. Although initially intended by product management to be
          only demos of analytic functionality, both apps exceeded expectations
          and were released to customers as part of the Vantage Analyst software
          suite. SQL development with Teradata Vantage.
        </p>
        <br />
      </div>

      <h4>Bach to Rock Music School</h4>
      <div class="ps-4">
        <p class="mb-1 fs-5">
          Music Instructor and Audio Engineer • Sept 2014-Aug 2017
        </p>
        <p class="fw-light">
          Hired as an assistant to give drum and keyboard group lessons. Other
          tasks included brand promotion at live events and data entry into the
          administrative system. I was promoted to Audio Engineer and received
          training to record, edit, and mix music.
        </p>
      </div>
    </div>
    <div class="col-sm-6">
      <h3>Skills</h3>
      <div class="ps-4">
        <h5>Technologies</h5>
        <p>Angular, React, Django, Jenkins, Git, Heroku, AWS</p>
        <h5>Languages</h5>
        <p>Typescript/Javascript, Python, Java, SQL, C/C++</p>
        <h5>Other</h5>
        <p>
          Windows/OSX/Linux administration, Unix Shell, Networking, Audio
          Engineering, Computer Hardware & Assembly, Web design, Photoshop
        </p>
      </div>

      <h3>Education</h3>
      <div class="ps-4">
        <h5>The University of North Carolina at Chapel Hill</h5>
        <p>Bachlors of Science in Computer Science • May 2020</p>
        <h5>Yorktown High School</h5>
        <p>Advanced Studies Diploma • June 2016</p>
        <br />
        <button
          class="mt-1 btn btn-outline-secondary"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseCoursework"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Click to view coursework
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container my-container">
  <div class="collapse" id="collapseCoursework">
    <h3>Completed Coursework</h3>
    <br />
    <div class="row ps-4">
      <div class="col-sm-6">
        <h4>Computer Science Courses</h4>

        <h5>Comp 523 - Software Engineering Lab - Spring 2020</h5>
        <small>Prof. David Stotts</small>
        <p>
          Worked on an agile team to build software for
          <a
            href="https://www.linkedin.com/company/jump-ahead/about/"
            target="blank"
            >Jumpahead</a
          >
        </p>

        <h5>Comp 550 - Algorithms and Algorithm Analysis - Fall 2019</h5>
        <small>Prof. Stephen Pizer</small>
        <p>
          Analysis of sorting, searching, graph, and optimization algorithms
        </p>

        <h5>Comp 590 - Big Data - Spring 2019</h5>
        <small>Prof. Frank Smith</small>
        <p>Big Data storage and analysis with Hadoop, Mapreduce and Spark</p>

        <h5>Comp 520 - Compilers - Spring 2019</h5>
        <small>Prof. Jan Prins</small>
        <p>Programming language processing in Java</p>

        <h5>Comp 535 - Intro to Security - Spring 2019</h5>
        <small>Prof. Michael Reiter</small>
        <p>Access control, web security, cryptography, etc</p>

        <h5>Comp 380 - Introduction to Digital Culture - Spring 2019</h5>
        <small>Prof. Tessa Nichols</small>
        <p>Digital Ethics, Privacy, Net Neutrality</p>

        <h5>Comp 521 - Files and Databases - Fall 2018</h5>
        <small>Prof. Gary Bishop</small>
        <p>SQL, Database management systems, file storage</p>

        <h5>Comp 426 - Modern Web Programming - Fall 2018</h5>
        <small>Prof. Ketan Mayer-Patel</small>
        <p>Javascript, Html, CSS, Jquery, AJAX</p>

        <h5>Comp 455 - Models of Language and Computation - Spring 2018</h5>
        <small>Prof. David Plaisted</small>
        <p>Languages, parsing, turing machines, etc.</p>

        <h5>Comp 411 - Computer Organization - Fall 2017</h5>
        <small>Prof. Leonard McMillan</small>
        <p>Computer Architecture, binary, assembly, C, compilers, etc</p>

        <h5>Comp 410 - Data Structures - Fall 2017</h5>
        <small>Prof. David Stotts</small>
        <p>Trees, linked lists, heaps, hashing, etc.</p>

        <h5>Comp 283 - Discrete Structures - Fall 2017</h5>
        <small>Prof. David Plaisted</small>
        <p>Discrete math, Set theory</p>

        <h5>Comp 401 - Foundations of Programming - Spring 2017</h5>
        <small>Prof. Ketan Mayer-Patel</small>
        <p>
          Java programming course. Interfaces, Factory Method, MVC, OOP, etc.
        </p>

        <h5>Comp 116 - Introduction to Scientific Programming - Fall 2016</h5>
        <small>Prof. Gary Bishop</small>
        <p>
          Introductory programming class with a focus on analyzing scientific
          data with python and numpy.
        </p>
      </div>
      <div class="col-sm-6">
        <h4>Other STEM Courses</h4>
        <h5>Phys 118 - Mechanics and Relativity - Fall 2018</h5>
        <small>Prof. Stephen Jelinksi</small>
        <p></p>

        <h5>Math 547 - Linear Algebra - Spring 2018</h5>
        <small>Prof. Boyce Griffith</small>
        <p></p>

        <h5>Math 383 - Differential Equations - Spring 2017</h5>
        <small>Prof. David Adalsteinsson</small>
        <p></p>

        <h5>Math 233 - Multivariable Calculus - Fall 2016</h5>
        <small>Dangxing Chen</small>
        <p></p>

        <p><a href="/contact/">Contact me</a> for a complete transcript.</p>
      </div>
    </div>
  </div>
</div>

{%endblock content%}
