@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,900&family=Roboto&family=Ubuntu+Mono&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$font-family-sans-serif: Ubuntu;
$font-size-base: 1.1rem;
$badge-font-size: .85em;

@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

@import "dark-theme";
@import "light-theme";
@import "../bootstrap/bootstrap";

@import "codehiliteMonokai";
@import "comment";

.logo {
    // font: 72px "Exo Black 900 italic";
    font-family: 'exo', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 90px;
}

.my-container {
    padding: 12px;
}

.pagination {
    padding: 20px;
}

.footer {
    width: 100%;
    /* Set the fixed height of the footer here */

    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.footer a {
    color: grey;
    margin-left: 10px;
}

.wrapper {
    min-height: 100vh;
    margin-bottom: -60px;
}

.push {
    height: 60px;
}

.social li {
    display: inline;
    padding: 10px;
}

.social-col {
    text-align: right;
    font-size: 16pt;
}

.spacer {
    flex-grow: 1;
}

.navbar-brand {
    font-size: large;
    font-size: 26px;
    color: $body-color;
    font-family: $font-family-monospace;
    a { 
        text-decoration: none;
        color: $body-color;
    }
    a:hover {
        color: #555;
    }
    .separator {
        margin-right: 12px;
    }
}

.custom-breadcrumbs {
    display: flex;
    list-style-type: none;
    padding-left: 12px;
    margin-right: 12px;
    margin-bottom: 0px;
    li {
        display: inline;
    }
}
.filter-list {
    line-height: 33px;
    max-width: 85%;
}

.card-footer {
    background-color: rgba(0,0,0, .1);
}

.post {
    .codehilite {
        padding: 16px;
        border-radius: .25rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin-bottom: 1rem;
        margin-right: auto;
        margin-left: auto;
        max-width: 975px;
        pre { margin-bottom: 0;}
    }
    
    p + ul, p + ol {
        margin-top: -16px;
    }

    h2, h3 {
        margin-top: 32px;
    }

    margin-bottom: 128px;

    @media (min-width: 992px) { 
        .sticky-lg-top {
            top: 20px;
        } 
    }

    ul li {
        margin-bottom: 4px;
    }

    @media (min-width: 992px) { 
        img {
            max-width: 600px !important;
            margin-left: 0 !important;
        } 
    }

    img {
        max-width: 60vw;
        margin-left: 15vw;
    }

    .comments-container {
        margin-top: 64px;
    }
}

.btn-primary {
    border: none;
}

.login-card {
    max-width: 400px;
    .social-login-btn {
        text-decoration: none;
        width: 280px;
        font-family: Roboto;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        height: 46px;
    }

}

.account-card-buttons {
    .btn {
        flex: 1 1 0px;
    }
}

ul.messages {
    list-style-type: none;
    margin-bottom: 0;
}

.alert {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-menu {
    width: 100px;
}