.light {
    $primary: #1179aa;
    $secondary: #1179aa;

    $success: #419b1e;
    $dark: #222;

    $gray-500: #555;
    $gray-600: #444;
    $gray-700: #333;
    $gray-800: #222;
    $gray-900: #111111;

    $header-bg: #fff;
    $card-bg: #3f3e3e;

    $theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "danger": $danger,
        "info": $indigo,
        "dark": $dark,
        "light": $light,
    );

    /* redefine theme color variables */
    @each $color, $value in $theme-colors {
        --#{$variable-prefix}#{$color}: #{$value};
    }

    /* redefine theme color rgb vars (used for bg- colors) */
    $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
    @each $color, $value in $theme-colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }

    $body-color: #2d2d2d;
    $body-bg: #EBEBEB;

    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};

    .navbar {
        background-color: $header-bg;
        .navbar-brand {
            color: $black;
            a {
                color: $black;
                &:hover {
                    color: #ccc;
                }
            }
        }
        .dropdown-menu {
            background-color: $header-bg;
            .dropdown-item {
                color: $primary;
            }
            .dropdown-item:active, .dropdown-item:hover {
                background-color: #ccc;
                color: $primary;
            }
        }
    }

    .btn.bg-primary {
        color: #eee;
    }

    .btn-outline-primary {
        color: $primary;
        border-color: $primary;
        &:hover {
            color: $white;
            background-color: $primary;
            border-color: $primary;
        }
    }

    .btn-outline-secondary {
        color: $secondary;
        border-color: $secondary;
        &:focus {
            color: $secondary;
        }
        &:hover {
            color: $white;
            background-color: $secondary;
            border-color: $secondary;
        }
    }

    .post-tag,
    .post-tag:focus {
        border: 1px solid $secondary;
        color: $secondary;
        text-decoration: none;
        &:hover {
            color: $white;
            background-color: $secondary;
            border-color: $secondary;
        }
    }

    .filter-tag,
    .filter-tag:focus {
        border: 1px solid $body-color;
        cursor: pointer;
        color: $body-color;
        text-decoration: none;
        &:hover,
        &.active {
            color: $white;
            background-color: $body-color;
            border-color: $body-color;
        }
    }

    a {
        color: $primary;
        &:hover {
            color: #1e526a;
        }
        &:focus {
            color: $primary;
        }
    }

    .login-card {
        .social-login-btn {
            &.google {
                background-color: #ddd;
                color: #000;
            }

            &.github {
                background-color: #000;
                color: #fff;
                img {
                    margin: 0 12px;
                }
            }
        }
    }
}
